In [1]:
import os
PROJ_ROOT = os.path.abspath(os.path.join(os.pardir))
print(PROJ_ROOT)

/home/bruno/Desktop/coarse-discourse-validation

In [2]:
import pandas as pd
import nltk
import numpy as np

df_path = os.path.join(PROJ_ROOT, 'data', 'interim', 'clean_data.pkl')

df = pd.read_pickle(df_path)

df.head()

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,thread_author,thread_title,url
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,DTX120,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,Keatonus,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...

In [3]:
df_sample = df.iloc[0:1000]

df_sample.head()

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,thread_author,thread_title,url
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,DTX120,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,Keatonus,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...

# Features Exploration

In here, we'll be working on the features described on the paper.

## Structure

> We calculate several features related to the structure of the comment and its position. One feature is the depth of the comment according to Redditâ€™s threaded structure, which we collect as both a raw count and normalized by the number of comments in the discussion. We also calculate number of sentences, number of words, and number of characters of both the body and the title of the comment. We computed these values for both the current comment and the parent comment.

### Post depth

In [4]:
df_sample['post_depth'].value_counts()

1.0     412
2.0     210
3.0     129
0.0     107
4.0      73
5.0      31
6.0      15
7.0       8
8.0       6
10.0      5
9.0       4
Name: post_depth, dtype: int64

In [5]:
# df_sample['post_depth_normalized'] = df_sample['post_depth'] / df_sample['comments_in_discussion']

### Number of sentences

We use NLTK.tokenize to get setences tokenized and then counted.

In [6]:
df_sample['body'].iloc[42]

"You won't regret keeping it. As far as longevity goes, it is almost indefinite. You will wear out parts like springs, mags, and maybe even the grips. The slide, frame, and barrel will likely outlive you. Colt makes great guns. How many companies who produced pistols 100 years ago still have their products found on gun shop shelves in working and safe condition?"

In [7]:
nltk.download('punkt')

nltk.tokenize.sent_tokenize(df_sample['body'].iloc[42])

[nltk_data] Downloading package punkt to /home/bruno/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

["You won't regret keeping it.",
 'As far as longevity goes, it is almost indefinite.',
 'You will wear out parts like springs, mags, and maybe even the grips.',
 'The slide, frame, and barrel will likely outlive you.',
 'Colt makes great guns.',
 'How many companies who produced pistols 100 years ago still have their products found on gun shop shelves in working and safe condition?']

In [8]:
sent_number = lambda b : len(nltk.tokenize.sent_tokenize(b))

df_sample['n_sentences'] = df_sample['body'].map(sent_number)

df_sample.head()

/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,thread_author,thread_title,url,n_sentences
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,DTX120,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...,29
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,4
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,Keatonus,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...,5

### Number of words

In [9]:
nltk.tokenize.word_tokenize(df_sample['body'].iloc[42])

['You',
 'wo',
 "n't",
 'regret',
 'keeping',
 'it',
 '.',
 'As',
 'far',
 'as',
 'longevity',
 'goes',
 ',',
 'it',
 'is',
 'almost',
 'indefinite',
 '.',
 'You',
 'will',
 'wear',
 'out',
 'parts',
 'like',
 'springs',
 ',',
 'mags',
 ',',
 'and',
 'maybe',
 'even',
 'the',
 'grips',
 '.',
 'The',
 'slide',
 ',',
 'frame',
 ',',
 'and',
 'barrel',
 'will',
 'likely',
 'outlive',
 'you',
 '.',
 'Colt',
 'makes',
 'great',
 'guns',
 '.',
 'How',
 'many',
 'companies',
 'who',
 'produced',
 'pistols',
 '100',
 'years',
 'ago',
 'still',
 'have',
 'their',
 'products',
 'found',
 'on',
 'gun',
 'shop',
 'shelves',
 'in',
 'working',
 'and',
 'safe',
 'condition',
 '?']

In [10]:
words_number = lambda b : len(nltk.tokenize.word_tokenize(b))

df_sample['n_words'] = df_sample['body'].map(words_number)

df_sample.head()

/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,thread_author,thread_title,url,n_sentences,n_words
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,DTX120,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...,29,499
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,22
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,4,82
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,26
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,Keatonus,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...,5,115

### Number of characters

Here we create a tokenizer from a RegEx to remove punctuaions and whitespaces, so we can count only characters.

In [11]:
tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')

words = tokenizer.tokenize(df_sample['body'].iloc[42])

sum(map(len, words))

289

In [12]:
char_number = lambda b : sum(map(len, tokenizer.tokenize(b)))

df_sample['n_char'] = df_sample['body'].map(char_number)

df_sample.head()

/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,thread_author,thread_title,url,n_sentences,n_words,n_char
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,DTX120,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...,29,499,2009
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,22,74
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,4,82,339
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,26,84
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,Keatonus,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...,5,115,434

### Parents number of sentences, words and characters

In [14]:
df_sample['parent_n_sentences'] = 0
df_sample['parent_n_words'] = 0
df_sample['parent_n_char'] = 0

for i, row in df_sample.iterrows():
    try:
        parent = df_sample[(df_sample['thread_title'] == row['thread_title'])][df_sample['id'] == row['in_reply_to']].iloc[0]
        df_sample.at[i, 'parent_n_sentences'] = parent['n_sentences']
        df_sample.at[i, 'parent_n_words'] = parent['n_words']
        df_sample.at[i, 'parent_n_char'] = parent['n_char']
    except:
        pass
    
df_sample.head()

/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,thread_author,thread_title,url,n_sentences,n_words,n_char,parent_n_sentences,parent_n_words,parent_n_char
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,DTX120,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...,29,499,2009,0,0,0
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,22,74,29,499,2009
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,4,82,339,2,22,74
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,26,84,4,82,339
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,Keatonus,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...,5,115,434,0,0,0

## Author

> We collect features about the author of the comment, including a binary feature for whether the current commenter is also the commenter of the initial post and a binary feature for whether the current commenter is the same as the parent commenter.

In [28]:
def is_thread_author(row):
    if row['author'] == '[deleted]' :
        return False
    else:
        return row['author'] == row['thread_author']

df_sample['is_thread_author'] = df_sample.apply(is_thread_author, axis=1)

df_sample.head()

/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,thread_author,thread_title,url,n_sentences,n_words,n_char,parent_n_sentences,parent_n_words,parent_n_char,is_thread_author
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,DTX120,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...,29,499,2009,0,0,0,True
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,22,74,29,499,2009,False
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,4,82,339,2,22,74,True
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,DTX120,DTX120: #87 - Nashville,NaN,2,26,84,4,82,339,False
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,Keatonus,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...,5,115,434,0,0,0,True

In [42]:
def is_parent_author(row):
    try:
        parent_author = df_sample[df_sample['id']==row['in_reply_to']].iloc[0]['author']
        
        return row['author'] == parent_author and row['author'] != '[deleted]'
    except IndexError:
        return False

df_sample['is_parent_author'] = df_sample.apply(is_parent_author, axis=1)

df_sample.head()

/home/bruno/anaconda3/envs/coarse-discourse-validation/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,...,thread_title,url,n_sentences,n_words,n_char,parent_n_sentences,parent_n_words,parent_n_char,is_thread_author,is_parent_author
0,"[{'link_to_post': 'none', 'main_type': 'announ...",DTX120,4/7/13 \n\n7/27/12 \n\nhttp://www.imdb.com/t...,t3_1bx6qw,NaN,True,none,announcement,0.0,100movies365days,...,DTX120: #87 - Nashville,https://www.reddit.com/r/100movies365days/comm...,29,499,2009,0,0,0,True,False
1,"[{'link_to_post': 't3_1bx6qw', 'main_type': 'a...",mcgrewf10,I've wanted to watch this for a long time. I w...,t1_c9b2nyd,t3_1bx6qw,True,t3_1bx6qw,elaboration,1.0,100movies365days,...,DTX120: #87 - Nashville,NaN,2,22,74,29,499,2009,False,False
2,"[{'link_to_post': 't1_c9b2nyd', 'main_type': '...",DTX120,You strike me as the type who would appreciate...,t1_c9b30i1,t1_c9b2nyd,True,t1_c9b2nyd,elaboration,2.0,100movies365days,...,DTX120: #87 - Nashville,NaN,4,82,339,2,22,74,True,False
3,"[{'link_to_post': 't1_c9b30i1', 'main_type': '...",mcgrewf10,"Yeah, I've always heard that Altman was famous...",t1_c9b6sj0,t1_c9b30i1,True,t1_c9b30i1,elaboration,3.0,100movies365days,...,DTX120: #87 - Nashville,NaN,2,26,84,4,82,339,False,False
4,"[{'link_to_post': 'none', 'main_type': 'announ...",Keatonus,"Alright guys, little background about myself. ...",t3_omv7p,NaN,True,none,announcement,0.0,100sets,...,"Male, 23 years old. Going for 100 sets!",https://www.reddit.com/r/100sets/comments/omv7...,5,115,434,0,0,0,True,False

In [43]:
df_sample['is_parent_author'].value_counts()

False    982
True      18
Name: is_parent_author, dtype: int64

In [44]:
df_sample[df_sample['is_parent_author']]

,annotations,author,body,id,in_reply_to,is_self_post,majority_link,majority_type,post_depth,subreddit,...,thread_title,url,n_sentences,n_words,n_char,parent_n_sentences,parent_n_words,parent_n_char,is_thread_author,is_parent_author
5,"[{'link_to_post': 't3_omv7p', 'main_type': 'el...",Keatonus,**January 16th 3 Sets:** \nWent out shopping w...,t1_c3igqif,t3_omv7p,True,t3_omv7p,elaboration,1.0,100sets,...,"Male, 23 years old. Going for 100 sets!",NaN,26,415,1396,5,115,434,True,True
9,"[{'link_to_post': 't3_omv7p', 'main_type': 'el...",Keatonus,Ok. Update! Sorry I haven't been doing this da...,t1_c3k2lc1,t3_omv7p,True,t3_omv7p,elaboration,1.0,100sets,...,"Male, 23 years old. Going for 100 sets!",NaN,14,205,761,5,115,434,True,True
91,"[{'link_to_post': 't1_chz0ouc', 'main_type': '...",Nhite,Thanks everyone for the help :)\nI will try ou...,t1_chz3omp,t3_27aan0,True,t3_27aan0,appreciation,1.0,2007scape,...,Recording OSRS with fraps/alternative - need h...,NaN,2,81,317,9,244,941,True,True
111,"[{'link_to_post': 't3_2kmipp', 'main_type': 'n...",BigBlackD_On_RS,if only they were worth something :(,t1_clmp08s,t3_2kmipp,False,t3_2kmipp,NaN,1.0,2007scape,...,My best elite so far - double afros...,NaN,1,8,28,0,0,0,True,True
121,"[{'link_to_post': 't3_2rww3m', 'main_type': 'e...",0wned_yew,considering the quote was not under 90 seconds...,t1_cnk11bb,t3_2rww3m,True,t3_2rww3m,negativereaction,1.0,2007scape,...,Thoboy..,NaN,1,12,57,1,2,6,True,True
170,"[{'link_to_post': 't3_3bxzpg', 'main_type': 'q...",k0bron,whos right?\n\n,t1_csql3sn,t3_3bxzpg,True,t3_3bxzpg,question,1.0,2007scape,...,Corp FFA,NaN,1,3,9,1,16,65,True,True
293,"[{'link_to_post': 't3_46hvj0', 'main_type': 'a...",Willie606,just those 2 and i have tried to reinstall/up...,t1_d06loro,t3_46hvj0,True,t3_46hvj0,answer,1.0,24hoursupport,...,Amd r9 380 driver crashing,NaN,1,14,59,1,47,212,True,True
306,"[{'link_to_post': 't3_1tc3xq', 'main_type': 'e...",The_Jims,"/u/Ilovetmac and /u/BuckeyeLeaves, would you g...",t1_ce6fm2d,t3_1tc3xq,True,t3_1tc3xq,question,1.0,2k14oa,...,12/20 CONFERENCE SEMI-FINALS/FINALS GAME THREAD,NaN,2,43,171,3,30,114,True,True
348,"[{'link_to_post': 't3_1riref', 'main_type': 'a...",tamag21,I would consider other 3ds code trades as well.,t1_cdo8mp8,t3_1riref,True,t3_1riref,answer,1.0,3ds,...,"Looking for Oracle of Seasons, Trading Club Ni...",NaN,1,10,38,2,32,107,True,True
369,"[{'link_to_post': 't3_1y6k48', 'main_type': 'e...",neuralfirings,I slowed down the print speed from 45 mm/s to ...,t1_cfi574v,t3_1y6k48,True,t3_1y6k48,elaboration,1.0,3dprinting,...,What can I do to get a better print?,NaN,4,77,301,8,115,469,True,True
395,"[{'link_to_post': 't3_4hpmtj', 'main_type': 'e...",Kat7659,"I CADed the model several years ago, but never...",t1_d2rfefb,t3_4hpmtj,False,t3_4hpmtj,elaboration,1.0,3dprinting,...,"Printed a computer mouse in ProMatte, sanded a...",NaN,5,69,239,0,0,0,True,True
553,"[{'link_to_post': 't3_3ho97t', 'main_type': 'a...",alaskagrown907,You are all amazing thank you!,t1_cu9i87s,t3_3ho97t,True,NaN,appreciation,1.0,7daystodie,...,is it safe to leave my mini bike assembled?,NaN,1,7,24,2,47,185,True,True
564,"[{'link_to_post': 't3_4765ki', 'main_type': 'e...",nattybretty,Thank you all! Eileen it is!!,t1_d0aojj2,t3_4765ki,True,NaN,NaN,1.0,7kglobal,...,"I got Evan at 34, do I need Rudy?",NaN,3,9,21,3,43,137,True,True
696,"[{'link_to_post': 't3_439c9s', 'main_type': 'a...",MalusDarkblade5,I would like to welcome all players to come an...,t1_czggwek,t3_439c9s,True,t3_439c9s,elaboration,1.0,ark,...,What My Tribe Can Do For You!!,NaN,12,184,690,37,502,1607,True,True
764,"[{'link_to_post': 't1_cqj1sn4', 'main_type': '...",futur3cpa,how do you make it line downwards? lol\n,t1_cqj1t3l,t1_cqj1sn4,True,t1_cqj1sn4,question,2.0,accounting,...,Let's post starting salary offers for new hire...,NaN,2,9,30,1,8,50,False,True
793,"[{'link_to_post': 't3_43nuh6', 'main_type': 'a...",urmomissofat23,Yes... From the Dimond select set that came ou...,t1_czjkc8c,t3_43nuh6,False,t3_43nuh6,answer,1.0,actionfigures,...,Sunnydale Library... Or Xavirer's School for g...,NaN,1,26,88,0,0,0,True,True
995,"[{'link_to_post': 'none', 'main_type': 'other'...",LE_TROLLFACEXD,wikibot what is rex reclaim,t1_cf7krr3,t3_1x2lw4,True,NaN,NaN,1.0,adviceanlmals,...,rex reclaim,NaN,1,5,23,1,2,9,True,True
997,"[{'link_to_post': 'none', 'main_type': 'other'...",LE_TROLLFACEXD,wikibot what is +/u/CasualMetricBot 999 miles,t1_cf7ks2c,t3_1x2lw4,True,NaN,NaN,1.0,adviceanlmals,...,rex reclaim,NaN,1,6,37,1,2,9,True,True

In [37]:
row = df_sample.iloc[42]

parent_author = df_sample[df_sample['id']==row['in_reply_to']].iloc[0]['author']

print(parent_author+" - "+row['author'])

WhatDaFlogNut - souobixo

In [36]:
row['author']

'souobixo'